<a href="https://qworld.net" target="_blank" align="left"><img src="../qworld/images/header.jpg"  align="left"></a>

<font style="font-size:28px;" align="left"><b> Python: Quick Reference </b></font>
<br>
_prepared by Abuzer Yakaryilmaz_
<br><br>

<ul>
    <li><a href="#Variables">Variables</a></li>
    <li><a href="#Strings">Strings</a></li>
    <li><a href="#Arithmetic_operators">Arithmetic operators</a></li>
    <li><a href="#Objects">Objects</a></li>
    <li><a href="#Size_of_an_object">Size of an object</a></li>    
    <li><a href="#Loops">Loops</a></li>
    <li><a href="#Conditionals">Conditionals</a></li>
    <li><a href="#Logical_and_Boolean_operators">Logical and Boolean operators</a></li>
    <li><a href="#Double_list">Double list</a></li>
    <li><a href="#List_operations">List operations</a></li>
    <li><a href="#Functions">Functions</a></li>
    <li><a href="#Random_number">Random number</a></li>
</ul>
<hr>

<a id="Variables"></a>
<h3> Variables </h3>

In [1]:
number = 5 # integer
real = -3.4 # float

name = 'Ada' # string
surname = "Lovelace" # string

boolean1 = True # Boolean 
boolean2 = False # Boolean

<hr>

<a id="Strings"></a>
<h3> Strings </h3>

In [2]:
str1 = "I am a string"
str2 = 'I am also a string value'

# a string can be seen as a list of character (a string with length 1)
#    each of them is accessed from 0 to len(str)-1

# print the first and last characters of str1
print("the char at 0 is",str1[0])
print("the char at",len(str1)-1,"is",str1[len(str1)-1])

# print every character of str1
for ch in str1:
    print(ch)

the char at 0 is I
the char at 12 is g
I

a
m

a

s
t
r
i
n
g

In [3]:
# define a string with multiple lines
str3 = """I am the first line,
   I am the second line,
I am the third line
"""

print(str3)

# define a string with multiple lines
str4 = '''>
first
    and second
'''

print(str4)

I am the first line,
   I am the second line,
I am the third line

>
first
    and second

<hr>

<a id="Arithmetic_operators"></a>
<h3> Arithmetic operators </h3>

<h4> Basic operators </h4>

In [4]:
a = 13
b = 5
print("a =",a)
print("b =",b)
print()

# basics operators
print("a + b =",a+b)
print("a - b =",a-b)
print("a * b =",a*b)
print("a / b =",a/b)

a = 13
b = 5

a + b = 18
a - b = 8
a * b = 65
a / b = 2.6

<h4> Integer division and modulus operators </h4>

In [5]:
a = 13
b = 5
print("a =",a)
print("b =",b)
print()

print("integer division:")
print("a//b =",a//b)

print("modulus operator:")
print("a mod b =",a % b)

a = 13
b = 5

integer division:
a//b = 2
modulus operator:
a mod b = 3

<h4> Exponent operator</h4>

number\*\*exponent

In [6]:
b = 5
print("b =",b)
print()

print("b*b =",b**2)
print("b*b*b =",b**3)
print("sqrt(b)=",b**0.5)

b = 5

b*b = 25
b*b*b = 125
sqrt(b)= 2.23606797749979

<hr>

<a id="Objects"></a>
<h3> Objects </h3>

<h4> Lists </h4>

In [7]:
# list
mylist = [10,8,6,4,2] 

print(mylist)

[10, 8, 6, 4, 2]

<h4> Tuple </h4>

In [8]:
# tuple
mytuple=(1,4,5,'Asja') 

print(mytuple)

(1, 4, 5, 'Asja')

<h4> Dictionary </h4>

In [9]:
# dictionary
mydictionary = {
    'name' : "Asja",
    'surname':'Karaindrou',
    'age': 23
}

print(mydictionary)

print(mydictionary['surname'])

{'name': 'Asja', 'surname': 'Karaindrou', 'age': 23}
Karaindrou

<h4>List of the other objects or variables </h4>

In [10]:
# list of the other objects or variables
list_of_other_objects =[
    mylist,
    mytuple,
    3,
    "Ada",
    mydictionary
]

print(list_of_other_objects)
print()
for el in list_of_other_objects:
    print(el)

[[10, 8, 6, 4, 2], (1, 4, 5, 'Asja'), 3, 'Ada', {'name': 'Asja', 'surname': 'Karaindrou', 'age': 23}]

[10, 8, 6, 4, 2]
(1, 4, 5, 'Asja')
3
Ada
{'name': 'Asja', 'surname': 'Karaindrou', 'age': 23}

<hr>

<a id="Size_of_an_object"></a>
<h3> Size of an object </h3>

We use the method "len()" that takes an object as the input.

In [11]:
# length of a string
print(len("Asja Karaindrou"))

# size of a list
print(len([1,2,3,4]))

# size of a dictionary
mydictionary = { 'name' : "Asja", 'surname':'Karaindrou', 'age': 23}
print(len(mydictionary))

15
4
3

<hr>

<a id="Loops"></a>
<h3> Loops </h3>

<h4> While-loop </h4>

In [12]:
i = 10
while i>0: # while condition(s):
    print(i)
    i = i - 1

10
9
8
7
6
5
4
3
2
1

<h4> For-loop </h4>

In [13]:
for i in range(10): # i is in [0,1,...,9]
    print(i)

0
1
2
3
4
5
6
7
8
9

In [14]:
for i in range(-5,6): # i is in [-5,-4,...,0,...,4,5]
    print(i)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [15]:
for i in range(0,23,4): # i is in [0,4,8,12,16,20]
    print(i)

0
4
8
12
16
20

In [16]:
for i in [3,8,-5,11]: 
    print(i)

3
8
-5
11

In [17]:
for i in "Karaindrou":
    print(i)

K
a
r
a
i
n
d
r
o
u

In [18]:
# dictionary
mydictionary = {
    'name' : "Asja",
    'surname':'Karaindrou',
    'age': 23,
}

for key in mydictionary:
    print("key is",key,"and its value is",mydictionary[key])

key is name and its value is Asja
key is surname and its value is Karaindrou
key is age and its value is 23

<hr>

<a id="Conditionals"></a>
<h3>Conditionals </h3>

In [19]:
for a in range(4,7):
    
    # if condition(s)
    if a<5: 
        print(a,"is less than 5")
        
    # elif conditions(s)
    elif a==5: 
        print(a,"is equal to 5")
        
    # else
    else:
        print(a,"is greater than 5")

4 is less than 5
5 is equal to 5
6 is greater than 5

<hr>

<a id="Logical_and_Boolean_operators"></a>
<h3>Logical and Boolean operators</h3>

<h4> Logical operator "and"</h4>

In [20]:
# Logical operator "and"
i = -3
j = 4
if i<0 and j > 0:  
    print(i,"has minus sign negative AND",j,"has plus sign")

-3 has minus sign negative AND 4 has plus sign

<h4>Logical operator "or"</h4>

In [21]:
# Logical operator "or"
i = -2
j = 2
if i==2 or j == 2:  
    print("i OR j is 2: (",i,",",j,")")

i OR j is 2: ( -2 , 2 )

<h4>Logical operator "not" </h4>

In [22]:
# Logical operator "not"
i = 3
if not (i==2):
    print(i,"is NOT equal to 2")

3 is NOT equal to 2

<h4> Operator "equal to" </h4>

In [23]:
# Operator "equal to"
i = -1
if i == -1:
    print(i,"is EQUAL TO -1")

-1 is EQUAL TO -1

<h4> Operator "not equal to" </h4>

In [24]:
# Operator "not equal to"
i = 4
if i != 3:
    print(i,"is NOT EQUAL TO 3")

4 is NOT EQUAL TO 3

<h4> Operator "less than or equal to" </h4>

In [25]:
# Operator "not equal to"
i = 2
if i <= 5:
    print(i,"is LESS THAN OR EQUAL TO 5")

2 is LESS THAN OR EQUAL TO 5

<h4> Operator "greater than or equal to" </h4>

In [26]:
# Operator "not equal to"
i = 5
if i >= 1:
    print(i,"is GREATER THAN OR EQUAL TO 3")

5 is GREATER THAN OR EQUAL TO 3

<hr>

<a id="Double_list"></a>
<h3> Double list </h3>

In [27]:
A =[
    [1,2,3],
    [-2,-4,-6],
    [3,6,9]
]

# print all
print(A)
print()

# print each list in a new line
for list in A:
    print(list)

[[1, 2, 3], [-2, -4, -6], [3, 6, 9]]

[1, 2, 3]
[-2, -4, -6]
[3, 6, 9]

<hr>

<a id="List_operations"></a>
<h3>List operations</h3>

<h4> Concatenation of two lists </h4>

In [28]:
list1 = [1,2,3]
list2 = [4,5,6]

#concatenation of two lists

list3 = list1 + list2
print(list3)

list4 = list2 + list1
print(list4)

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

<h4> Appending a new element </h4>

In [29]:
list = [0,1,2]

list.append(3)
print(list)

list = list + [4]
print(list)

[0, 1, 2, 3]
[0, 1, 2, 3, 4]

<hr>

<a id="Functions"></a>
<h3>Functions</h3>

In [30]:
def summation_of_integers(n):
    summation = 0
    for integer in range(n+1):
        summation = summation + integer
    return summation

print(summation_of_integers(10))
print(summation_of_integers(20))

55
210

<hr>

<a id="Random_number"></a>
<h3>Random number</h3>

We can use method "randrange()".

In [31]:
from random import randrange

print(randrange(10),"is picked randomly between 0 and 9")
      
print(randrange(-9,10),"is picked randomly between -9 and 9")

print(randrange(0,20,3),"is picked randomly from the list [0,3,6,9,12,15,18]")

2 is picked randomly between 0 and 9
-6 is picked randomly between -9 and 9
12 is picked randomly from the list [0,3,6,9,12,15,18]